:root{
    --bg-color:#ffa500;
    --bg-color-hover:#ff4500;
    --text-color:#FFF;
}

.myButton {
    background-color: var(--bg-color);
    width: 50%;
    height: 1rem;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 0.75rem;

    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    transition: background-color ease 0.3s;
}

.myButton:hover {
    background-color: var(--bg-color-hover);
    cursor: pointer;
}
