:root {
    --div-bg-color: #4682b4;
    --border: #000000;
    --div-color: #FFF;
}


.result {
    background-color: var(--div-bg-color);
    width: 50%;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 0.75rem;
    border: 3px solid var(--border);

    color: var(--div-color);
}